.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

nav, nav div, header, aside, footer, .middle, .middle div {
  border: 1px solid black;
  box-sizing: border-box;
}

nav, header, .middle {
  margin: 0 auto;
}

nav, .top-two {
  width: 60%;
}

nav, nav div {
  height: 90px;
}

nav div, aside, .middle div {
  float: left;
}

aside, .middle {
  height: 376px;
}

.top-three, .top-right {
  width: 13.5%;
}

nav {
  margin-bottom: 40px;
}

header {
  height: 70px;
  width: 40%;
  margin-bottom: 60px;
}

aside {
  width: 10%;
  margin-left: 200px;
}

footer {
  height: 75px;
}

h2 {
  text-align: center;
}

.top-left {
  width: 13%;
}

.middle {
  width: 52%;
  margin-left: 400px;
  margin-bottom: 100px;
}

.middle div {
  width: 33.333333%;
  height: 188px;
}

.middle div:last-of-type {
  width: 100%;
}
